.changeFont {
  font-size: 13px;
  line-height: 18px;
  font-weight: bold;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #486581;
}

.textInput {
  height: 56px;
  border: 1px solid #829ab1;
  border-radius: 4px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.fontBtn {
  width: 100%;
  border: none;
  background: transparent;
}

.recentlyUsed {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
  color: #007bff;
  float: right;
}

.cursor {
  cursor: pointer;
}
